/* Background and container */
.mocha-container {
    background-color: #3b2f2f;
    color: #f8f4f4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card */
.mocha-card {
    background-color: #5c4535;
    border-color: #a38770;
}

/* Card Header */
.mocha-card-header {
    background-color: #6d4c41;
    color: #f8f4f4;
    font-weight: bold;
}

/* Card Footer */
.mocha-card-footer {
    background-color: #6d4c41;
    color: #f8f4f4;
    font-weight: normal;
    text-align: center;
}

/* Labels */
.mocha-label {
    color: #f8f4f4;
    font-weight: bold;
}

/* Inputs */
.mocha-input {
    background-color: #7b5848;
    color: #f8f4f4;
    border: solid #a38770;
}

/* Button */
.mocha-btn {
    background-color: #a38770;
    color: #3b2f2f;
    font-weight: bold;
    border: solid #a38770;
    box-shadow: none;
}

.mocha-btn:hover,
.mocha-btn:focus {
    background-color: #896a58;
    color: #f8f4f4;
    border-color: #896a58;
    box-shadow: 0 0 #896a58;
}

/* Alert */
.mocha-alert {
    background-color: #5c4535;
    color: #f8f4f4;
}

/* Justify Text for Card */
.mocha-card-body .mocha-label {
    text-align: justify;
}

/* Card Shadow */
.mocha-card.shadow-lg {
    box-shadow: 0 rgba(0, 0, 0, 0.1);
}